
<form class="contact100-form" [formGroup]="newForm" (ngSubmit)="createCompany()">
				<span class="contact100-form-title">
					Añadir Compañía
				</span>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Id is required">
					<span class="label-input100">Id de la Compañía</span>
					<input  [(ngModel)]= "company._id" class="form-control input100" type="text" name="name" formControlName="inputId" required>
					<span class="focus-input100"></span>
				</div>
        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Nombre</span>
					<input [(ngModel)]= "company.NAME" class="form-control input100" type="text" name="name" formControlName="inputName" required>
					<span class="focus-input100"></span>
				</div>
        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Address is required">
					<span class="label-input100">Dirección</span>
					<input [(ngModel)]= "company.DIRECTION" class="form-control input100" type="text" name="name" formControlName="inputDir" required>
					<span class="focus-input100"></span>
				</div>
        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="RFC is required">
					<span class="label-input100">RFC</span>
					<input [(ngModel)]= "company.RFC" class="form-control input100" type="text" name="name" formControlName="inputRFC" required>
					<span class="focus-input100"></span>
				</div>
				<div class="container-contact100-form-btn">
					<button type="submit"  class="contact100-form-btn">
						<span>
							Añadir
						</span>
					</button>
				</div>

			</form>
