
<form class="contact100-form validate-form" (ngSubmit)="createCompany()">
				<span class="contact100-form-title">
					Añadir Compañía
				</span>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Id de la Compañía</span>
					<input  [(ngModel)]= "company._id" class="input100" type="text" name="name" placeholder="Id de la Compañía">
					<span class="focus-input100"></span>
				</div>
        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Nombre</span>
					<input [(ngModel)]= "company.NAME" class="input100" type="text" name="name" placeholder="Nombre de la Compañía">
					<span class="focus-input100"></span>
				</div>
        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Dirección</span>
					<input [(ngModel)]= "company.DIRECTION" class="input100" type="text" name="name" placeholder="Dirección de la Compañía">
					<span class="focus-input100"></span>
				</div>
        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">RFC</span>
					<input [(ngModel)]= "company.RFC" class="input100" type="text" name="name" placeholder="RFC de la Compañía">
					<span class="focus-input100"></span>
				</div>
				<div class="container-contact100-form-btn">
					<button type="submit"  class="contact100-form-btn">
						<span>
							Añadir
						</span>
					</button>
				</div>
    
			</form>
