<span class="contact100-form-title">
  Nueva Cotización
</span>
<div class="container">
<div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
            <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
            <p>Paso 1</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
            <p>Paso 2</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
            <p>Paso 3</p>
        </div>
    </div>
</div>
<!-- <button  type="button" (click)="downloadPDF()">PDF</button> -->
<form role="form" (ngSubmit)="createQuotation()">
    <div class="row setup-content" id="step-1">
        <div class="col-xs-12">
            <div class="col-md-12">
                <h3> Paso 1</h3>
                <div class="form-group">
                    <label class="control-label form-label">Id de la Cotización *</label>
                    <input  maxlength="20" [(ngModel)]="quotation._id" name="id"  type="text" required="required" class="form-control form-input" placeholder="Id de la Cotización"  />
                </div>
                 <div class="form-group">
                  <label class="control-label form-label">Nombre de la Empresa *</label>
                  <select class="form-control" [(ngModel)]= "quotation.COMPANY" (ngModelChange)="changeAddressed($event)" name="empresa" required="required">
                    <option *ngFor="let company of companies" [value]="company.NAME">{{company.NAME}}</option>
                  </select>
                </div>
                <div class="form-group">
                    <label class="control-label form-label">A Quien va Dirigido *</label>
                    <!-- <input maxlength="50"  [(ngModel)]= "quotation.ADDRESED" name="addressed" type="text" required="required" class="form-control form-input" placeholder="A Quien Va Dirigido" /> -->
                    <select class="form-control" [(ngModel)]= "quotation.ADDRESED" name="addressed" required="required">
                      <option value="">---Seleccione primero una empresa---</option>
                       <option *ngFor="let person of associates" [value]="person.NAME">{{person.NAME}}</option>
                    </select>
                </div>

                <p>(*) Obligatorio</p>

                <button class="btn btn-primary nextBtn btn-lg pull-right contact100-form-btn" type="button">Siguiente</button>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-2">
        <div class="col-xs-12">
            <div class="col-md-12">
                <h3> Paso 2</h3>
                <div class="form-group">
                    <label class="control-label form-label">Descripcion *</label>
                    <input maxlength="100" [(ngModel)]= "quotation.REASON" name="reason"  type="text" required="required" class="form-control form-input" placeholder="Descripcion" />
                </div>
                <div class="form-group">
                    <label class="control-label form-label">Tiempo de Entrega *</label>
                    <input maxlength="100" [(ngModel)]= "quotation.DELIVERY_TIME" name="delivery" type="text" required="required" class="form-control form-input" placeholder="Tiempo de Entrega" />
                </div>
                <div class="form-group">
                    <label class="control-label form-label">Condiciones de Pago *</label>
                    <input maxlength="100" [(ngModel)]= "quotation.PAYMENT_CONDITIONS" name="payment" type="text" required="required" class="form-control form-input" placeholder="Condiciones de Pago" />
                </div>
                <p>(*) Obligatorio</p>
                <button class="btn btn-primary nextBtn btn-lg pull-right contact100-form-btn" type="button">Siguiente</button>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-3">
        <div class="col-xs-12">
            <div class="col-md-12">
                <h3> Paso 3</h3>
                <div class="form-group search-container">
                  <input type="text" class="form-control search-bar" [(ngModel)]="searchBy" name="search" id="mySearch"  placeholder="Buscar">

                  <button type="button" (click)="getItems()" class="btn btn-default search-btn"><img [src]="'assets/icons/search.svg'" class="small-image-icon" alt="buscar image">Buscar</button>
                </div>
                  <h3>Servicios</h3>
                <div class="container-table100">
                  <div class="wrap-table100 the-overflow">
                      <div class="table" id="resultsTable">
                        <div class="table-row header">
                          <div class="cell">
                            Descripción
                          </div>
                          <div class="cell">
                            Unidad de medida
                          </div>
                        </div>

                        <div class="table-row content" (click)="addToQuotation(i)" *ngFor="let item of inventoryList; let i = index" id="myTr">
                          <div class="cell">
                            {{item.DESCRIPTION}}
                          </div>
                          <div class="cell">
                            {{item.UNITY_MESURE}}
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                  <!-- <button class="btn btn-default prev-btn" disabled="true">Anterior página</button>   <button class="btn btn-default next-btn">Siguiente página</button> -->
                  <!--TABLA PARA AÑADIR OTRO ITEM-->
                   <h3> Añadir otro tipo de servicio</h3>

                  <div class="container-table100">
                    <div class="wrap-table100">
                        <div class="table">
                          <div class="table-row header">
                            <div class="cell">
                              Descripción
                            </div>
                            <div class="cell">
                              Unidad de Medida
                            </div>
                            <div class="cell">
                              Precio
                            </div>
                            <div class="cell">
                              Precio mano de obra
                            </div>
                            <div class="cell">
                              Añadir otro item
                            </div>
                          </div>

                          <div class="table-row">
                            <div class="cell">
                              <input type="text" [(ngModel)]= "otherInventoryItem.DESCRIPTION" name="otherDesc" class="form-control desc-input" placeholder="Codo">
                            </div>
                            <div class="cell">
                              <input type="text" [(ngModel)]= "otherInventoryItem.UNITY_MESURE" name="otherUnit" class="form-control unit-input" placeholder="Metros">
                            </div>
                            <div class="cell">
                              <input type="number" min="0" [(ngModel)]= "otherInventoryItem.PRICE" name="otherPrice" class="form-control unit-input" placeholder="30">
                            </div>
                            <div class="cell">
                              <input type="number" min="0" [(ngModel)]= "otherInventoryItem.LABOR_PRICE" name="otherHandPrice" class="form-control unit-input" placeholder="30">
                            </div>
                            <div class="cell">
                               <button type="button" (click)="addToInventoryList()" class="btn btn-default"><img [src]="'assets/icons/add.svg'" class="small-image-icon change-color-black" alt="anadir image">Añadir</button>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                <!-- TABLA COTIZATION -->
                  <h3> Productos a cotizar</h3>
                  <div class="container-table100">
                    <div class="wrap-table100  the-overflow">
                        <div class="table">

                          <div class="table-row header">
                            <div class="cell">
                              Descripción
                            </div>
                            <div class="cell">
                              Cantidad
                            </div>
                            <div class="cell">
                              U/M
                            </div>
                            <div class="cell">
                              Tipo de Servicio
                            </div>
                            <div class="cell">
                              Subtotal
                            </div>
                            <!-- <div class="cell">
                              Guardar
                            </div> -->
                            <div class="cell">
                              Eliminar
                            </div>
                          </div>

                          <div class="table-row" *ngFor="let qItem of csList; let j = index">
                            <div class="cell">
                              {{qItem.DESCRIPTION}}
                            </div>
                            <div class="cell" >
                              <input type="number" min="0" [(ngModel)]="qItem.CANTITY" (ngModelChange)="changeQuantity($event,j)" name="cantidad" class="form-control quantity-input">
                            </div>
                            <div class="cell">
                              {{qItem.MEASURE_UNIT}}
                            </div>
                            <div class="cell">
                              <select class="form-control select-type" [(ngModel)]="qItem.PROVIDE" (ngModelChange)="changeService($event,j)" name="tipo">
                                  <!-- <option value="" selected disabled hidden>{{qItem.PROVIDE}}</option> -->
                                  <option *ngFor="let type of typeService" [value]="type" [selected]="qItem.PROVIDE==type">{{type}}</option>
                              </select>

                            </div>
                            <div class="cell">
                              {{qItem.SALE_PRICE}}
                            </div>
                            <!-- <div class="cell">
                               <button type="button" (click)="saveChanges(j)" class="btn btn-default delete-btn"><img [src]="'assets/icons/save.svg'" class="small-image-icon" alt="save image"></button>
                            </div> -->
                            <div class="cell">
                               <button type="button" (click)="deleteRow(j)" class="btn btn-default delete-btn"><img [src]="'assets/icons/delete.svg'" class="small-image-icon change-color-red" alt="delete image"></button>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                    <h3> Total en pesos: {{total}}</h3>
                <button class="btn btn-success btn-lg pull-right contact100-form-btn-submit" type="submit">Cotizar</button>
                  <!-- <button  type="button" (click)="downloadPDF()">PDF</button> -->
            </div>
        </div>
    </div>
</form>
</div>

<div class="is-hidden">
    <div id="HTMLtoPDF" [ngStyle]="displayStyle">
      <div class="my-header">
        <div class="header-data">
          FYLSA CONTROL Y AUTOMATIZACION
          <p>FRANCISCO JULIAN BOLAÑOS
          <p>R.F.C:JUBF-650904-AY1
            <p><p><p><p><p><p><p><p><p><p><p><p>
        </div>
      </div>
      <div class="my-body">
      <div class="date-style">
        {{quotation.DATE}}
        <p>30
      </div>
      <div class="company">
        <h2 class="my-h1">{{quotation.COMPANY}}</h2>
        <h2 class="my-h1">{{quotation.ADDRESED}}</h2>
      </div>
      <div class="inicio">
        ESTIMADO {{quotation.ADDRESED}} EN ATENCION POR SU AMABLE SOLICITUD ME PERMITO ENTREGAR A USTED LA SIGUIENTE COTIZACION
      </div>
      <h3 class="my-h2">SUMINISTRO DE MATERIAL</h3>
      <div class="container-table100">
          <div class="table100 ver1">
            <div class="table100-firstcol">
              <table class="my-table">
                <thead>
                  <tr class="row100 head">
                    <th class="my-th cell100 column1">Descripción</th>
                    <th class="my-th cell100 column2">U/M</th>
                    <th class="my-th cell100 column3">Cantidad</th>
                    <th class="my-th cell100 column4">Precio Unitario</th>
                    <th class="my-th cell100 column5">Subtotal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="row100 body" *ngFor="let qItem of csList; let j = index">
                    <td class="my-td cell100 column1">{{qItem.DESCRIPTION}}</td>
                    <td class="my-td cell100 column2">{{qItem.MEASURE_UNIT}}</td>
                    <td class="my-td cell100 column3">{{qItem.CANTITY}}</td>
                    <td class="my-td cell100 column4">{{inventoryQList[j].PRICE}}</td>
                    <td class="my-td cell100 column5">{{qItem.SALE_PRICE}}</td>
                  </tr>

                </tbody>
              </table>
            </div>
        </div>
      </div>
      <div>
      <h4 class="my-h3">COSTO DEL PROYECTO (en mxn): {{quotation.COST}}</h4>
      <div class="final">
        <p>LOS PRECIOS SON EN PESOS Y ES MAS 16% DE IVA
        <p>TIEMPO DE ENTREGA: {{quotation.DELIVERY_TIME}}
        <p>CONDICIONES DE PAGO: {{quotation.PAYMENT_CONDITIONS}}
      </div>
      <div class="final-2">
        CABE ACLARAR QUE ESTA COTIZACION SOLO TIENE VIGENCIA DE 20 DIAS. SALUDOS
        CORDIALES, PARA CUALQUIER DUDA O ACLARACION, QUEDO DE USTED.
      </div>

      <div class="firma">
          <p><p><p><p>
        <p>ATENTAMENTE
        <p>--------------------------------
        <p>DIANA RUIZ
      </div>

    </div>
  </div>
    <footer class="my-footer">
        <p><div class="foot-pt1">IZCALLI CUAUHTEMOC V HIGO 38-BMETEPEC     EDO.DE MEXICO   CP-52176</div>
        <p><div class="foot-pt1">TEL.:01(722)2-16-62-04    E-MAIL: fylsaservicios@gmail.com</div>
    </footer>
  </div>
</div>
