@import "https://fonts.googleapis.com/css?family=Roboto";

.contact100-form-title {
  display: block;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 44px;
}

body{
    margin-top:40px;
}

.container {
  font-family: 'Poppins', sans-serif;
  width: auto;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-step a[disabled] {
  background: white;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.form-label {
  font-size: 15px;
}

.form-input {
  font-size: 18px;
  height: auto;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  background-color: #7386D5;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 100px;
  height: 50px;
  background-color: #7386D5;
  border-radius: 10px;

  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

.contact100-form-btn-submit{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 100px;
  height: 50px;
  background-color: #5cb85c;
  border-radius: 10px;

  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

.search-container {
  margin-top: 2em;
  margin-left: 2.25em;
}

.search-bar {
  width: 50%;
  height: auto;
  margin-right: 10px;
  display: inline-block;
  font-size: 18px;
}

.search-btn {
  display: inline-block;
  margin-bottom: 2px;
  font-size: 18px;
}

.small-image-icon {
  width: 1em;
  margin-right: 10px;
}

.change-color-black {
  filter: invert(1);
}

.change-color-red {
  filter: invert(.5) sepia(1) saturate(10) hue-rotate(315deg);

}

.prev-btn {
  margin-left: 32%;
}

.next-btn {
  margin-left: 10%;
}

.delete-btn {
  width: 2.75em;
}
/* TABLA PRODUCTOS*/

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.container-table100 {
  width: 100%;
  min-height: 30vh;
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px 30px;
}

.wrap-table100 {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.the-overflow {
  height: 500px;
  overflow-y: scroll;
}

.table {
  width: 100%;
  display: table;
  margin: 0;
}

.table, .table-row, .cell {
  font-family: 'Poppins', sans-serif;
}


@media screen and (max-width: 768px) {
  .table {
    display: block;
  }

}

.table-row {
  display: table-row;
  background: #fff;
}

.table-row.header {
  color: #ffffff;
  background: #6c7ae0;
  cursor: not-allowed;
  pointer-events: none;
}

.table-row.content:active {
  background: #5cb85c;
}

.table-row.content:active .cell {
    color: white;
}

@media screen and (max-width: 768px) {
  .table-row {
    display: block;
  }

  .table-row.header {
    cursor: not-allowed;
    pointer-events: none;
    padding: 0;
    height: 0px;
  }

  .table-row.header .cell {
    display: none;
  }

  .table-row .cell:before {
    //font-family: Poppins-Bold;
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;

    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 80px;
    display: block;
  }

}

.cell {
  display: table-cell;
}

.desc-input {
  width: 250px;
}

.quantity-input {
   width: 60px;
}

.unit-input {
  width: 100px;
}

.select-type {
  width: 200px;
}
@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}

.table-row .cell {
  //font-family: Poppins-Regular;
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.table-row.header .cell {
//  font-family: Poppins-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 19px;
  padding-bottom: 19px;
}

.table-row .cell:nth-child(1) {
  width: 300px;
  padding-left: 20px;
}

.table-row .cell:nth-child(2) {
  width: 100px;
}

.table-row .cell:nth-child(3) {
  width: 55px;
}

.table-row .cell:nth-child(4) {
  width: 210px;
}

.table-row .cell:nth-child(5) {
  width: 90px;
}

.table-row .cell:nth-child(6),.table-row .cell:nth-child(7)  {
  width: 50px;
}

.table, .table-row {
  width: 100% !important;
}

.table-row:hover {
  background-color: #ececff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .table-row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }

  .table-row .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .table-row .cell:nth-child(1) {
    padding-left: 30px;
  }

  .table-row .cell {
    //font-family: Poppins-Regular;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .table, .table-row, .cell {
    width: 100% !important;
  }
}


////////////////FOR PDF/////////////////

.is-hidden {
}
#HTMLtoPDF {
  font-family: "Roboto", sans-serif;
}

.my-header {
  width: 50%;
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 4px solid black;
  height: 160px;
  margin-bottom: 15px;
}

.my-body {
  margin-top: 80px;
}
.my-h1 {
  font-weight: bold;
  font-size: 20px;
}

.my-h2, .my-h3, .firma {
  text-align: center;
}

.header-data {
  background-image: url(../../images/fylsa.jpg);
  text-align: right;
  display: inline-block;
  right: 0px;
  padding: 10px;
  width: 50%;
  height: 140px;
  margin-left: 10px;
}

.date-style {
  position: absolute;
  right: 0px;
  padding: 10px;
  margin-right: 42%;
}

.company {
  margin-top: 30px;
  margin-left: 15px;
  padding-top: 15px;
}

.inicio, .final, .final-2 {
  margin-left: 15px;
  margin-right: 15px;
}

.final, .firma, .head {
  font-weight: bold;
}

.my-footer {
  width: 700px;
  padding-bottom: 35px;
}
.foot-pt1 {
  text-align: center;
}
/////TABLE/////

.container-table100 {
  margin: 0 auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 33px 100px;
}

.wrap-table100 {
  width: 100%;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color: #fff;
}

.my-table {
  width: 100%;
}

.my-th, .my-td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 {
  padding-left: 40px;
}

.table100 th {
  padding-top: 21px;
  padding-bottom: 21px;
}

.table100 td {
  padding-top: 16px;
  padding-bottom: 16px;
}


/*==================================================================
[ Fix col ]*/
.table100 {
  width: 100%;
}

.table100-firstcol {
  background-color: #fff;
  width: 90%;
  top: 0;
  left: 0;
}

.table100-firstcol table {
  background-color: #fff;
}

.wrap-table100-nextcols {
  width: 100%;
  overflow: auto;
  padding-left: 310px;
  padding-bottom: 28px;
}

.table100-nextcols table{
  table-layout: fixed;
}

.shadow-table100-firstcol {
  box-shadow: 8px 0px 10px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 8px 0px 10px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 8px 0px 10px 0px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 8px 0px 10px 0px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 8px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.table100-firstcol table {
  background-color: transparent;
}

/*==================================================================
[ Ver1 ]*/

.table100.ver1 th {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 1.4;
  text-transform: uppercase;
}

.table100.ver1 td {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.4;
}

.table100.ver1 .table100-firstcol td {
  color: #666666;
}

.table100.ver1 .table100-nextcols td {
  color: #999999;
}


.table100.ver1 tr {
  border-bottom: 1px solid #f2f2f2;
}
