  <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Fylsa S.A de C.V.</h3>
                    <h4>{{sessionName}}</h4>
                </div>

                <ul class="list-unstyled components">
                    <p>Módulos</p>
                    <li >
                           <a href="#servicesSubmenu" data-toggle="collapse" aria-expanded="false"><img [src]="'assets/icons/products.svg'" class="image-icon" alt="productos image">Productos y Servicios</a>
                        <ul class="collapse list-unstyled" id="servicesSubmenu">
                            <li ><a (click)="viewProductsImport()"><img [src]="'assets/icons/add.svg'" class="small-image-icon" alt="anadir image">Añadir Productos CSV</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="#companySubmenu" data-toggle="collapse" aria-expanded="false"><img [src]="'assets/icons/company.svg'" class="image-icon" alt="compañia image">Compañía</a>
                        <ul class="collapse list-unstyled" id="companySubmenu">
                             <li><a (click)="viewNewCompanyAll()"><img [src]="'assets/icons/view.svg'" class="small-image-icon" alt="ver image">Ver Compañías</a></li>
                            <li><a (click)="viewNewCompanyNew()"><img [src]="'assets/icons/add.svg'" class="small-image-icon" alt="anadir image">Añadir Compañia</a></li>
                            <li><a (click)="viewNewCompanyUpdate()"><img [src]="'assets/icons/edit.svg'" class="small-image-icon" alt="editar image">Editar Compañia</a></li>
                            <li><a (click)="viewNewCompanyDelete()"><img [src]="'assets/icons/delete.svg'" class="small-image-icon" alt="eliminar image">Eliminar Compañia</a></li>

                          <a href="#associateSubmenu" data-toggle="collapse" aria-expanded="false"><img [src]="'assets/icons/associates.svg'" class="image-icon" alt="image">Asociados</a>
                             <ul class="collapse list-unstyled" id="associateSubmenu">
                            <li><a (click)=" viewAssociatesRead()"><img [src]="'assets/icons/view.svg'" class="small-image-icon" alt="ver image">Ver Asociados</a></li>
                            <li><a (click)="viewAssociatesNew()"><img [src]="'assets/icons/add.svg'" class="small-image-icon" alt="anadir image">Añadir Asociado</a></li>
                            <li><a (click)="viewAssociatesUpdate()"><img [src]="'assets/icons/edit.svg'" class="small-image-icon" alt="editar image">Editar Asociado</a></li>
                            <li><a (click)=" viewAssociatesRemove()"><img [src]="'assets/icons/delete.svg'" class="small-image-icon" alt="eliminar ">Eliminar Asociado</a></li>

                            </ul>

                        </ul>
                    </li>
                    <li>
                        <a href="#cotizacionSubmenu" data-toggle="collapse" aria-expanded="false"><img [src]="'assets/icons/quotes.svg'" class="image-icon" alt="image">Cotización</a>
                        <ul class="collapse list-unstyled" id="cotizacionSubmenu">
                            <li ><a (click)="viewCotizacionNew()"><img [src]="'assets/icons/add.svg'" class="small-image-icon" alt="anadir image"> Generar Nueva Cotizacion</a></li>

                        </ul>
                    </li>

                  <!--  <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li><a href="#">Home 1</a></li>
                            <li><a href="#">Home 2</a></li>
                            <li><a href="#">Home 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Cotizacion</a>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="#">Page 1</a></li>
                            <li><a href="#">Page 2</a></li>
                            <li><a href="#">Page 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>-->
                </ul>

            <!-- <ul class="list-unstyled CTAs">
                    <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
                    <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
                </ul>-->
            </nav>
