<form class="contact100-form validate-form" [formGroup]="readForm" (ngSubmit)="getAssociates()">
				<span class="contact100-form-title">
					Lista de Asociados
				</span>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Id is required">
					<span class="label-input100">Id del Asociado</span>
					<input [(ngModel)]= "associates._id" class="input100" type="text" name="name" formControlName="inputId" required>
					<span class="focus-input100"></span>
				</div>
				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Buscar
						</span>
					</button>
				</div>
			</form>

<pre>{{associates.NAME}}</pre>
<pre>{{associates.COMPANY}}</pre>
