<form class="contact100-form validate-form" [formGroup]="updateForm">
				<span class="contact100-form-title">
					Editar Asociado
				</span>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="ID is required">
					<span class="label-input100">Id del Asociado</span>
					<input  [(ngModel)]= "associates._id" class="form-control input100" type="text" name="name" value="{{associates._id}}" formControlName="inputId" required>
					<span class="focus-input100"></span>
				</div>
        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Nombre</span>
					<input  #associateName class="input100" type="text" name="name" placeholder="Nombre del Asociado"  value="{{associates.NAME}}">
					<span class="focus-input100"></span>
				</div>
     <div class="wrap-input100 rs1-wrap-input100 validate-input select-input" data-validate="Company is required">
					<span class="label-input100">Compañia</span>
					<select class="form-control"  [(ngModel)]="selectedValue"  [ngModelOptions]="{standalone: true}">
						<option *ngFor="let c of companies" [ngValue]="c">{{c.name}}</option>
					</select>
				</div>

				<div class="container-contact100-form-btn">
					<button (click)="findAssociate()" class="contact100-form-btn">
						<span>
							Buscar por Id
						</span>
					</button>
        <button (click)="updateAssociate(associateName.value)"  class="contact100-form-btn save-btn">
          <span>
            Guardar Asociado
          </span>
        </button>
				</div>
			</form>
