<form class="contact100-form validate-form" [formGroup]="deleteForm" (ngSubmit)="deleteCompany()">
				<span class="contact100-form-title">
					Eliminar Compañía
				</span>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Id de la Compañía</span>
					<input [(ngModel)]= "company._id" class="form-control input100" type="text" formControlName="inputId" required>
					<span class="focus-input100"></span>
				</div>
				<div class="container-contact100-form-btn">
					<button type="submit" class="contact100-form-btn delete-btn">Eliminar</button>
				</div>
</form>
