<form class="contact100-form validate-form" [formGroup]="updateForm">
				<span class="contact100-form-title">
					Editar Compañía
				</span>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Id is required">
					<span class="label-input100">Id de la Compañía (Requerido)</span>
					<input [(ngModel)]= "company._id" class="form-control input100" type="text" name="name" value="{{company._id}}" formControlName="inputId" required>
					<span class="focus-input100"></span>
				</div>
        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Nombre</span>
					<input #companyName class="input100" type="text" name="name" placeholder="Nombre de la Compañía" value="{{company.NAME}}" required>
					<span class="focus-input100"></span>
				</div>
        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Address is required">
					<span class="label-input100">Dirección</span>
					<input #companyDirection class="input100" type="text" name="name" placeholder="Dirección de la Compañía" value="{{company.DIRECTION}}" required>
					<span class="focus-input100"></span>
				</div>
        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="RFC is required">
					<span class="label-input100">RFC</span>
					<input #companyRfc class="input100" type="text" name="name" placeholder="RFC de la Compañía" value="{{company.RFC}}" required>
					<span class="focus-input100"></span>
				</div>
				<div class="container-contact100-form-btn">
					<button (click)="getCompany()" class="contact100-form-btn">
						<span>
							Buscar por Id
						</span>
					</button>
          <button (click)="updateCompany(companyName.value,companyDirection.value,companyRfc.value)" class="contact100-form-btn save-btn">
            <span>
              Guardar compañía
            </span>
          </button>
				</div>
			</form>
