<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					Editar Compañía
				</span>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Id de la Compañía (Requerido)</span>
					<input class="input100" type="text" name="name" placeholder="Id de la Compañía">
					<span class="focus-input100"></span>
				</div>
        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Nombre</span>
					<input class="input100" type="text" name="name" placeholder="Nombre de la Compañía">
					<span class="focus-input100"></span>
				</div>
        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Dirección</span>
					<input class="input100" type="text" name="name" placeholder="Dirección de la Compañía">
					<span class="focus-input100"></span>
				</div>
        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">RFC</span>
					<input class="input100" type="text" name="name" placeholder="RFC de la Compañía">
					<span class="focus-input100"></span>
				</div>
				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Buscar por Id
						</span>
					</button>
          <button class="contact100-form-btn save-btn">
            <span>
              Guardar compañía
            </span>
          </button>
				</div>
			</form>
